<div class="slack" *ngIf="!pageLoaded">
    <span class="slack-dot slack-dot--a">
    
        </span><span class="slack-dot slack-dot--b">
    
        </span><span class="slack-dot slack-dot--c">
    
        </span><span class="slack-dot slack-dot--d"></span>
</div>

<div class="row" *ngIf="pageLoaded">

    <div class="col s12 m12 l9">
        <mat-card>
            <mat-card-title>
                please answer these questions ...
            </mat-card-title>
            <mat-card-content>
                <mat-expansion-panel *ngFor="let question of questions;let i=index" [expanded]="step === i" (opened)="setStep(i)" hideToggle>

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{question.text}}
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-option [questionId]="question.id" (optionValueChanged)="selectOption($event)"></app-option>
                    <mat-action-row>
                        <button mat-flat-button color="primary" (click)="prevStep()" color="primary" class="prev">
                                <mat-icon>navigate_before</mat-icon>
                            Prev
                        </button>
                        <button  mat-flat-button color="primary" (click)="nextStep()" class="next">
                            Next
                            <mat-icon>navigate_next</mat-icon>
                        </button>
                    </mat-action-row>

                </mat-expansion-panel>
            </mat-card-content>
            <mat-card-actions>
                <button  mat-flat-button  [color]="'success'" (click)="showResult()" [class.spinner]="fetchedResult" [disabled]="fetchedResult || (step!=questions.length)">
                        <mat-icon>done_all</mat-icon>
                    Result

                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col s12 m12 l3">
        <app-progress></app-progress>
    </div>
</div>