<div class="row center">
    <div class="col s12 m12 l6">
        <div class="slide-container">
            <div class="wrapper">
                <div class="clash-card barbarian">
                    <div class="clash-card__image clash-card__image--barbarian">
                        <img src="../../assets/img/step1_png.png" alt="barbarian" />
                    </div>
                    <div class="clash-card__unit-name">
                        <a [routerLink]="'/quizStepper'">
                            Stepper Quiz
                        </a>
                    </div>
                    <div class="clash-card__unit-description">
                        This multi-options quize was implemented by Angular Material Stepper
                    </div>

                    <div class="clash-card__unit-stats clash-card__unit-stats--archer clearfix">
                        <div class="one-third">
                            <div class="stat">20<sup>S</sup></div>
                            <div class="stat-value">Training</div>
                        </div>

                        <div class="one-third">
                            <div class="stat">5</div>
                            <div class="stat-value">Questions</div>
                        </div>

                        <div class="one-third no-border">
                            <div class="stat">4</div>
                            <div class="stat-value">Options</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6">
        <div class="slide-container">
            <div class="wrapper">
                <div class="clash-card barbarian">
                    <div class="clash-card__image clash-card__image--barbarian">
                        <img src="../../assets/img/f4J43.png" alt="barbarian" class="card-img" />
                    </div>
                    <div class="clash-card__unit-name">
                        <a [routerLink]="'/quiz'">
                            Card Quiz
                        </a>
                    </div>
                    <div class="clash-card__unit-description">
                        This multi-options quize was implemented by Angular Material Card
                    </div>

                    <div class="clash-card__unit-stats clash-card__unit-stats--wizard clearfix">
                        <div class="one-third">
                            <div class="stat">20<sup>S</sup></div>
                            <div class="stat-value">Training</div>
                        </div>

                        <div class="one-third">
                            <div class="stat">5</div>
                            <div class="stat-value">Questions</div>
                        </div>

                        <div class="one-third no-border">
                            <div class="stat">4</div>
                            <div class="stat-value">Options</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>